/* 展開 activeChoice checkbox 區塊 */
div.dynamic_checkbox {
  height: auto !important;
  max-height: none !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
}

/* 讓 label 保持縮排漂亮 */
div.dynamic_checkbox label {
  padding-left: 8px;
}
